# Copyright 2022-2023 DLR, Germany
#
# SPDX-License-Identifier: EPL-1.0
#
# https://rcenvironment.de/

#
# Common entries
#

# standard (relative) Java and Eclipse paths

target/
.settings/

# Eclipse workspace data when using the git checkout path as workspace

/.metadata/

# standard (relative) Python and PyCharm paths

.idea/
venv/

# special/suggested entries

sys$command
/.sonar/

#
# RCE-specific entries
#

# generated help content

*/help/generated/
/de.rcenvironment.core.gui.help.*/doc.zip

# development test profiles; ignore everything except certain files

/de.rcenvironment/eclipse/launch/profiles/
! /de.rcenvironment/eclipse/launch/profiles/*/configuration.json

# a common place to place unversioned files, e.g. analysis script output

/.local/

# a temporary fix for generated folders; see Mantis #11136

/de.rcenvironment/maven/initial/workspace
/de.rcenvironment/workspace

# TODO check: still needed?

/de.rcenvironment.core.scripting.tests/cachedir
