<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="default_release_or_snapshot.all" sequenceNumber="82">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://software.dlr.de/updates/rce/10.x/repositories/platform/releases/10.5.0"/>
		<unit id="de.rcenvironment.thirdparty.modules.binaries.dakota.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.imageviewer.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.common.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.gui.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.native.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.other.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.testing.bdd.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.libraries.testing.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.pdfviewer.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.platform.common.feature.feature.group" version="10.5.0.202311171329"/>
		<unit id="de.rcenvironment.thirdparty.modules.platform.gui.feature.feature.group" version="10.5.0.202311171329"/>
	</location>
</locations>
</target>